#main-navigation ul{
    text-align: right;
    list-style-type: none;
    margin-right: 10px;
    position: absolute;
    top:2%;
    left:25%;
    
}

.b{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    color: black;
    font-size:20px;
}

.b:hover{
    color:whitesmoke;
}

.text{
    position: absolute;
    bottom:38%;
    left:15%;
    font-size:20px;
}

.text1{
    position: absolute;
    bottom: 85%;
    font-size: 25px;
    left:18%;
}

.book{
    position: absolute;
    bottom: 1%;
}

@media screen and (max-width: 600px) {
    .list a {
      float: none;
      width: 100%;
      display: flex;
    }
  }